page-horario {

    .una{
        background: pink;
        border: think solid black;
        text-align: center;
        font-family: verdana;
        font-size: 20px;
        }
    .dos{
        text-align: center;
        font-family: verdana;
        font-size: 15px;
    }
    .tres{
        background: green;
    }
    .cuatro{
        background: yellow;
    }
    .cinco{
        background: blue;
    }
    .seis{
        background: red;
    }
    .siete{
        background: grey;
    }
    .ocho{
        background:orange;
    }

}
